@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #eee;
}

input:-moz-placeholder {
  color: #eee;
}

input::-moz-placeholder {
  color: #eee;
}

input:-ms-input-placeholder {
  color: #eee;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "FuturaNewBook", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  background-color: #15070f;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  min-height: 1px;
  height: 100vh;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "FuturaNewDemi", sans-serif;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  background-color: #15070f;
  max-width: 480px;
  margin: 0 auto;
  min-height: 1px;
}

.header {
  padding: 15px;
  text-align: center;
}

.header img {
  max-width: 150px;
}

.choice__lead {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  margin: 0 0 20px;
  font-weight: 400;
  padding: 0 15px;
}

.choice__inner {
  position: relative;
}

.choice__group {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#652147), to(transparent));
  background-image: -o-linear-gradient(top, #652147, transparent);
  background-image: linear-gradient(to bottom, #652147, transparent);
  position: relative;
  border-radius: 4px;
  padding: 10px 15px 20px 50%;
}

.choice__group::after {
  content: '';
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-image: url(../img/dotted-line.png);
  background-position: 50% 50%;
  position: absolute;
}

.choice__group-desc {
  margin: 0;
  font-size: 16px;
  color: #fff;
  font-family: "FuturaNewDemi", sans-serif;
  position: relative;
  z-index: 1;
}

.choice__group-current {
  display: none;
}

.choice__group-options {
  margin-top: 7px;
  font-size: 0;
  position: relative;
  z-index: 1;
}

.choice__group-variant {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #aaaaaa;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  line-height: 50px;
  background-color: #2b0e1e;
  background-size: cover;
  cursor: pointer;
  font-family: "FuturaNewDemi", sans-serif;
  font-size: 16px;
  line-height: 31px;
  color: #fff;
}

.choice__group-variant.active {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 46px;
}

.choice__group-variant:hover, .choice__group-variant.active {
  border-color: #ff9f31;
  -webkit-box-shadow: 0 0 10px rgba(255, 159, 49, 0.35);
  box-shadow: 0 0 10px rgba(255, 159, 49, 0.35);
}

.choice__group-variant + .choice__group-variant {
  margin-left: 10px;
}

.choice__preview {
  position: absolute;
  height: 330px;
  width: 173px;
  bottom: 2px;
  right: 50%;
  margin-right: 15px;
  opacity: .99;
}

.choice__preview::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  -webkit-box-shadow: 0 0 100px 100px #fff;
  box-shadow: 0 0 100px 100px #fff;
  opacity: .3;
  border-radius: 50%;
}

.choice__preview-next {
  display: none;
}

.choice__preview-current, .choice__preview-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom right;
}

.choice__footer {
  padding: 35px 15px;
  text-align: center;
}

.btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#fa1691), to(#ff52b0));
  background-image: -o-linear-gradient(left, #fa1691, #ff52b0);
  background-image: linear-gradient(to right, #fa1691, #ff52b0);
  line-height: 1;
  border: none;
  font-size: 21px;
  letter-spacing: 2.1px;
  color: #fff;
  text-transform: uppercase;
  padding: 5px;
  width: 100%;
  max-width: 230px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 24px rgba(254, 65, 168, 0.24), 0 8px 16px rgba(243, 66, 195, 0.12);
  box-shadow: 0 0 24px rgba(254, 65, 168, 0.24), 0 8px 16px rgba(243, 66, 195, 0.12);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.btn__wrapper {
  display: block;
  background-image: -webkit-gradient(linear, right top, left top, from(#fa1691), to(#ff52b0));
  background-image: -o-linear-gradient(right, #fa1691, #ff52b0);
  background-image: linear-gradient(to left, #fa1691, #ff52b0);
  padding: 14px 40px 6px;
  border-radius: 100px;
}

.btn__wrapper::before {
  content: '';
  background-image: url(../img/search-icon.png);
  width: 26px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  margin-right: 15px;
}

.btn:hover {
  -webkit-box-shadow: 0 0 0 rgba(254, 65, 168, 0.24), 0 0 0 rgba(243, 66, 195, 0.12);
  box-shadow: 0 0 0 rgba(254, 65, 168, 0.24), 0 0 0 rgba(243, 66, 195, 0.12);
}

/* Desktop-frist */
@media only screen and (max-width: 991px) {
  /**/
}

/* Mobile-first */
@media only screen and (min-width: 992px) {
  /**/
}
