doctype html
html

	head
		meta(charset='utf-8')
		title LOVE CITY - sex finder
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='theme-color', content='#15070f')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/fonts.css')
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.page
			table.page__wrapper
				tr
					td.page__inner
						.page__container
							.page__app
								header.header
									img(src="img/logo.png", alt="")
								section.app
									article.app__choice.choice
										h1.choice__lead Прямо сейчас девушки поблизости ждут горячего секса с тобой. Выбери размер груди, задницы, цвет волос и зажги с новой подружкой.
										.choice__inner
											section.choice__group(data-option-type="hair")
												p.choice__group-desc
													span.choice__group-label hair color 
													span.choice__group-current
												ul.choice__group-options
													li.choice__group-variant(data-variant-value="blonde", style="background-image: url(img/blonde.jpg)").has-helper
													li.choice__group-variant(data-variant-value="red", style="background-image: url(img/red.jpg)")
													li.choice__group-variant(data-variant-value="brunette", style="background-image: url(img/brunette.jpg)").has-helper
											section.choice__group(data-option-type="breast")
												p.choice__group-desc
													span.choice__group-label breast size 
													span.choice__group-current
												ul.choice__group-options
													li.choice__group-variant(data-variant-value="s") S
													li.choice__group-variant(data-variant-value="m") M
													li.choice__group-variant(data-variant-value="l") L
											section.choice__group(data-option-type="ass")
												p.choice__group-desc
													span.choice__group-label ass size 
													span.choice__group-current
												ul.choice__group-options
													li.choice__group-variant(data-variant-value="s") S
													li.choice__group-variant(data-variant-value="m") M
													li.choice__group-variant(data-variant-value="l") L
											.choice__preview
												.choice__preview-current
												.choice__preview-next
										.choice__footer
											button.choice__btn.js-search.btn #[span.btn__wrapper #[span Search]]
									article.app__result
										.result
											header.result__header
												ul.result__choice
													li.result__choice-item(data-option-type="hair", style="background-image: url(img/blonde.jpg)")
													li.result__choice-item(data-option-type="breast") M
													li.result__choice-item(data-option-type="ass") L
												p.result__geo What city are you in: #[b.js-geo Loading...]
											section.result__statistics.statistics
												p.statistics__status #[span.statistics__status-signSearching searching...] #[span.statistics__status-signSuccess search completed!]
												.statistics__list
													p.statistics__item Women from this city on site: #[b 245]
													p.statistics__item Suitable for parameters: #[b 16]
													p.statistics__item Nearby: #[b 3]
												.statistics__result
													p.statistics__name Gretta
													p.statistics__distance 500 meters to your location...
													p.statistics__location Waiting for you on the site
												.statistics__profile.profile
													.profile__pics
														.profile__ava.profile__ava--1(style="background-image: url(img/search.gif)")
														.profile__ava.profile__ava--2(style="background-image: url(img/result-back-pic-1.jpg)")
														.profile__ava.profile__ava--3(style="background-image: url(img/result-back-pic-2.jpg)")
													.profile__about.about
														.about__stars #[i]#[i]#[i]#[i]#[i]
														p.about__text “Люблю секс на первом свидании...”
														span.about__label about me
												a.statistics__btn.btn(href="") #[span.btn__wrapper Watch the rest]
		script(src="js/common.js")